@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.poiret-one-regular {
    font-family: "Poiret One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

@font-face {
  font-family: indie;
  src: url(IndieFlower-Regular.ttf)
}
@font-face{
  font-family: leitura;
  src: url(PlaywriteDEGrund-VariableFont_wght.ttf)
}
*
{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  body {
    font-family: "Poiret One", system-ui;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 320px;
    
  }
  
  h1 {
    font-family: "indie";
    font-size: 24px;
    font-weight: bold;
    color: #e7d073;
    text-align: center;
    
  }
  
  h2 {
    font-family: "Poiret One", system-ui;
    font-size: 20px;
    font-weight: 600;
    color: #d3d2d2;
    min-width: 320px;

  }
  h3 {
    font-family: "indie";
    font-size: 20px;
    color: #091a48;
  }
  h4 {
    font-family: "indie";
    font-size: 20px;
    color: #2e1336;
  }
  
  a {
    text-decoration: none;
    color: #e382e3;
  }
  
  a:hover {
    color: #787aff;
  }
  
  /* Header Styles */
  
  header {
    background-color: #f5ee71;
    padding: 14px;
    text-align: center;
    min-width: 320px;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #000000;
  }
  
  header nav a:hover {
    color: #85877a;
  }
  
  
  /* Calculadora */
  
  .calculadora {
    padding: 50px;
  }
  
  .calculadora h2 {
    margin-bottom: 20px;
  }
  
  .calculadora p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  /* Artigos */
  
  .artigos {
    padding: 40px;
  }
  
  .artigos h2 {
    margin-bottom: 20px;
  }
  
  .artigos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .artigos p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .main {
    min-width: 320px;
    position: relative;
    padding-bottom: 1000px; /* altura do rodapé */
  }
 /*main*/ 
.historia-container {
  min-width: 320px;
      /*width removida*/
      height: 350px;
      background-color: none;
      padding: 20px;
      margin: 10px auto;
      display: flex;
      align-self: center;
      font-family: "Poiret One", system-ui;
}
.botoes {
  display: inline-flex;
  margin: 100px;
}
.botao {
  align-self: right;
  margin: 50px;
  padding-right: 500px;
  background-color: #e1e770;
  border: 1px solid #e1e770;
  border-radius: 10px;
  padding: 40px 125px;
  font-family: "indie";
  font-size: 30px;
  font-weight: bold;
  display: flex;
  min-width: 320px;
  display: flexbox;
}
.botao:hover {
  background-color: #a9eaff;
  opacity: 0.8;
}
.botao2 {
  align-self: left;
  margin: 50px;
  padding-left: 0px;
  background-color: #e1e770;
  border: 1px solid #e1e770;
  border-radius: 10px;
  padding: 40px 125px;
  font-family: "indie";
  font-size: 30px;
  font-weight: bold;
  min-width: 320px;
  display: flex;
}
.botao2:hover {
  background-color: #a9eaff;
  opacity: 0.8;
}
     /* Footer Styles */
  
  footer {
    background-color: #f5ee71;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-family: "leitura";
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    font-family: "leitura";
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20}
